
<ul class="nav my-3">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'show-data' data_id %}">{{ data }} Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'show-indicator' data_id %}">Show Indicator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'fillout-timeliness' data_id %}">Timeliness Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'fillout-security' data_id %}">Security Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update-data' data_id %}">Update Data</a>
  </li>
</ul>
