<style>
  div.scrollmenu {
  
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: rgb(189, 178, 178);
}
</style>

<div class="scrollmenu my-3">
  <a href="{% url 'show-data' data_id %}">{{ data }} Overview</a>
  <a href="{% url 'show-indicator' data_id %}">Show Indicator</a>
  <a href="{% url 'fillout-timeliness' data_id %}">Timeliness Form</a>
  <a href="{% url 'fillout-security' data_id %}">Security Form</a>
</div>
